nav.navbar.navbar-expand-lg.navbar-dark.bg-blue.sticky-top
    .container
        a.navbar-brand(href='/').mr-2
            img(src='/images/raftmodding.png')
        button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation').navbar-toggler
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li(class=((currentUrl.startsWith('/loader') || currentUrl.startsWith('/download')) ? 'active' : null)).mx-2.nav-item
                    a(href='/download').nav-link #[i.fas.fa-bolt.mx-1] Mod loader
                if enableBundlesSection
                    li(class=((currentUrl.startsWith('/mods') || currentUrl.startsWith('/bundle')) ? 'active' : null)).mx-1.nav-item.dropdown
                        a(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link#navbarModsDropdown #[i.fas.fa-plug.mx-2] Mods #[sup.ml-1: span.badge.badge-pill.badge-danger New]
                        div(aria-labelledby='navbarModsDropdown').dropdown-menu.mb-2
                            a(href='/mods').dropdown-item #[i.fas.fa-plug.mr-2] Mods
                            a(href='/bundle').dropdown-item #[i.fas.fa-cubes.mr-2] Mod bundles #[small.ml-2: span.badge.badge-pill.badge-danger New]
                else
                    li(class=(currentUrl.startsWith('/mods') ? 'active' : null)).mx-1.nav-item: a(href='/mods' ).nav-link #[i.fas.fa-plug.mx-2] Mods
                if enableServerSection
                    if enablePluginsSection
                        li(class=((currentUrl.startsWith('/server') || currentUrl.startsWith('/plugin')) ? 'active' : null)).mx-1.nav-item.dropdown
                            a(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link#navbarServerDropdown #[i.fas.fa-server.mx-2] Server #[sup.ml-1: span.badge.badge-pill.badge-danger New]
                            div(aria-labelledby='navbarServerDropdown').dropdown-menu.mb-2
                                a(href='/server').dropdown-item #[i.fas.fa-server.mr-2] Dedicated server #[small.ml-2: span.badge.badge-pill.badge-danger New]
                                a(href='/plugins').dropdown-item #[i.fas.fa-puzzle-piece.mr-2] Server plugins #[small.ml-2: span.badge.badge-pill.badge-danger New]
                    else
                        li(class=(currentUrl.startsWith('/server') ? 'active' : null)).mx-1.nav-item: a(href='/server').nav-link #[i.fas.fa-server.mx-2] Dedicated Server #[sup.ml-1: span.badge.badge-pill.badge-danger New]
            ul.navbar-nav
                li.mx-1.nav-item
                    a(href='/discord' data-toggle='tooltip' title='Discord server').nav-link
                        i.fab.fa-discord.mx-2
                        span.d-inline.d-lg-none Discord server
                li.mx-1.nav-item
                    a(href='/docs' data-toggle='tooltip' title='Documentation').nav-link
                        i.fas.fa-book.mx-2
                        span.d-inline.d-lg-none Documentation
                li.mx-1.nav-item
                    a(href='/donate' data-toggle='tooltip' title='Donate').nav-link.donate-button
                        i.fas.fa-donate.mx-2
                        span.d-inline.d-lg-none Support us
                if loggedIn
                    li.nav-item.dropdown.mx-1
                        a(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link#navbarDropdownMenuLink
                            | #[i.fas.fa-user.mx-2] Account
                        div(aria-labelledby='navbarDropdownMenuLink').dropdown-menu.mb-2
                            a(href='/user/me').dropdown-item #[i.fas.fa-user-circle.mr-1] My profile
                            a(href='/account').dropdown-item #[i.fas.fa-cog.mr-1] Account settings
                            a(href='/signout').dropdown-item #[i.fas.fa-sign-out-alt.mr-1] Sign out
                    li.mx-1.nav-item.dropdown.active
                        a(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link#navbarAddDropdown
                            span.d-none.d-lg-inline: i(style='transform: scale(2);').fas.fa-plus-circle.ml-3
                            span.d-inline.d-lg-none #[i.fas.fa-plus.mx-2] Add something to this site!
                        div(aria-labelledby='navbarAddDropdown').dropdown-menu.dropdown-menu-right.mb-2
                            a(href='/mods/add').dropdown-item #[i(style='width: 20px;').fas.fa-plug.mr-1] Add a mod
                            if enableBundlesSection
                                a(href='/bundle/add').dropdown-item #[i(style='width: 20px;').fas.fa-cubes.mr-1] Create a bundle
                            if enablePluginsSection
                                a(href='/plugins/add').dropdown-item #[i(style='width: 20px;').fas.fa-puzzle-piece.mr-1] Add a plugin
                            if userIsAdmin
                                hr.mt-2.mb-1
                                small.text-muted.ml-4 ADMIN TOOLS
                                a(href='/loader/add').dropdown-item #[i(style='width: 20px;').fas.fa-bolt.mr-1] Add a loader version
                                a(href='/launcher/add').dropdown-item #[i(style='width: 20px;').fas.fa-desktop.mr-1] Add a launcher version
                                a(href='/server/add').dropdown-item #[i(style='width: 20px;').fas.fa-server.mr-1] Add a server version
                                a(href='/raft-version-management/add').dropdown-item #[i(style='width: 20px;').fas.fa-anchor.mr-1] Add a Raft version
                    if userIsAdmin
                        li.mx-1.nav-item.dropdown
                            a(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link#navbarAdminDropdown
                                span.d-none.d-lg-inline: i.fas.fa-cogs.ml-3
                                span.d-inline.d-lg-none #[i.fas.fa-cogs.mx-2] Admin options
                            div(aria-labelledby='navbarAdminDropdown').dropdown-menu.dropdown-menu-right.mb-2
                                a(href='/raft-version-management').dropdown-item #[i(style='width: 20px;').fas.fa-anchor.mr-1] Raft version management
                else
                    li.nav-item
                        a(href='/signin?' + currentUrlQuery).nav-link #[i.fas.fa-sign-in-alt.mx-1] Login
    script.
        var dropdownOpen = false;
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('nav .dropdown').on('show.bs.dropdown', function(e) {
                dropdownOpen = true;
            });
            $('nav .dropdown').on('hide.bs.dropdown', function(e) {
                dropdownOpen = false;
            });
            $('[data-toggle="tooltip"]').on('show.bs.tooltip', function(e) {
                if (dropdownOpen) {
                    e.preventDefault();
                }
            });
        });
