extends ../layout

prepend pageVariables
    - title = bundle.title

append pageVariables
    - pageMeta.description = `Mod Bundle ${bundle.title} by ${bundle.maintainer.username}: ${bundle.description}`

block content
    section.my-3
        h1=bundle.title
        p(style='max-width: 100%;')=bundle.description
    section.my-3
        div.row
            div.col-sm-9.my-3
                block bundleContent
            div.col-sm-3.my-3
                ul.list-group
                    li.list-group-item
                        a(href=`/bundle/${bundle.id}`)
                            b=bundle.title
                    li.list-group-item
                        i.fas.fa-user-circle
                        |
                        | by
                        |
                        span
                            a(href=`/user/${bundle.maintainer.username}`)=bundle.maintainer.username
                    li.list-group-item
                        i.fas.fa-hashtag.mr-1
                        | Contains #[b=bundle.modContents.length] mods 
                        br
                        small #[i.fas.fa-angle-right] 
                            a(href=`/bundle/${bundle.id}/mods`) Included mods
                    if userIsAdmin || userIsBundleOwner
                        li.list-group-item
                            i.fas.fa-pencil-alt
                            | 
                            a(href=`/bundle/${bundle.id}/edit`) Edit this bundle
                    li.list-group-item
                        i.fas.fa-arrow-alt-circle-down.mr-2
                        a(href='/bundle/' + bundle.id + '/download') Download this bundle
